body{
    background-color: #000000;
}

.container{
    width: 640px;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.text{
    position: relative;
    top: 280px;
    left: 65px;
    z-index: 4;
    width: 400px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
}

.mask{
    position: relative;
    z-index: 3;
    pointer-events: none;
}

.unsupported{
    position: relative;
    top: 250px;
    left: 150px;
    color: white;
}

.content{
    position: relative;
    top: -400px;
    left: 50px;
    z-index: 2;
    width: 500px;
    height: 500px;
}
